*       @signalfx/gdi-python-contrib-maintainers @signalfx/gdi-python-contrib-approvers

#####################################################
#
# Docs reviewers
#
#####################################################

# This is temporarily disabled by @zhirafovod while in alpha release 
# *.md @signalfx/gdi-docs @signalfx/gdi-python-contrib-maintainers @signalfx/gdi-python-contrib-approvers
