*       @signalfx/gdi-python-contrib-maintainers @signalfx/gdi-python-contrib-approvers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-python-contrib-maintainers @signalfx/gdi-python-contrib-approvers
