default:
  image: 'python:3.11-slim'

include:
  - project: core-ee/signing/api-integration
    ref: develop
    file: /templates/.sign-client.yml

stages:
  - build
  - sign
  - deploy

# Build jobs for each package
build-util-genai:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai
    - hatch build
    - mkdir -p ../../dist/util-genai
    - mv dist/* ../../dist/util-genai/
    - cd ../../dist/util-genai
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/util-genai/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-v0\.[0-9]+\.[0-9]+.*/'

build-util-genai-evals:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-evals
    - hatch build
    - mkdir -p ../../dist/util-genai-evals
    - mv dist/* ../../dist/util-genai-evals/
    - cd ../../dist/util-genai-evals
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/util-genai-evals/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-evals-v0\.[0-9]+\.[0-9]+.*/'

build-genai-emitters-splunk:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-emitters-splunk
    - hatch build
    - mkdir -p ../../dist/genai-emitters-splunk
    - mv dist/* ../../dist/genai-emitters-splunk/
    - cd ../../dist/genai-emitters-splunk
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/genai-emitters-splunk/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-emitters-splunk-v0\.[0-9]+\.[0-9]+.*/'

build-genai-evals-deepeval:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-evals-deepeval
    - hatch build
    - mkdir -p ../../dist/genai-evals-deepeval
    - mv dist/* ../../dist/genai-evals-deepeval/
    - cd ../../dist/genai-evals-deepeval
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/genai-evals-deepeval/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-evals-deepeval-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-langchain:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-langchain
    - hatch build
    - mkdir -p ../../dist/instrumentation-langchain
    - mv dist/* ../../dist/instrumentation-langchain/
    - cd ../../dist/instrumentation-langchain
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-langchain/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-langchain-v0\.[0-9]+\.[0-9]+.*/'

build-genai-translator-traceloop:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-traceloop-translator
    - hatch build
    - mkdir -p ../../dist/genai-translator-traceloop
    - mv dist/* ../../dist/genai-translator-traceloop/
    - cd ../../dist/genai-translator-traceloop
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/genai-translator-traceloop/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-traceloop-v0\.[0-9]+\.[0-9]+.*/'

# Signing jobs for each package
sign-util-genai:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-util-genai
  variables:
    ARTIFACT: dist/util-genai/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/util-genai
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/util-genai/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-v0\.[0-9]+\.[0-9]+.*/'

sign-util-genai-evals:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-util-genai-evals
  variables:
    ARTIFACT: dist/util-genai-evals/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/util-genai-evals
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/util-genai-evals/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-evals-v0\.[0-9]+\.[0-9]+.*/'

sign-genai-emitters-splunk:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-genai-emitters-splunk
  variables:
    ARTIFACT: dist/genai-emitters-splunk/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/genai-emitters-splunk
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/genai-emitters-splunk/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-emitters-splunk-v0\.[0-9]+\.[0-9]+.*/'

sign-genai-evals-deepeval:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-genai-evals-deepeval
  variables:
    ARTIFACT: dist/genai-evals-deepeval/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/genai-evals-deepeval
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/genai-evals-deepeval/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-evals-deepeval-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-langchain:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-langchain
  variables:
    ARTIFACT: dist/instrumentation-langchain/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-langchain
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-langchain/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-langchain-v0\.[0-9]+\.[0-9]+.*/'

sign-genai-translator-traceloop:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-genai-translator-traceloop
  variables:
    ARTIFACT: dist/genai-translator-traceloop/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/genai-translator-traceloop
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/genai-translator-traceloop/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-traceloop-v0\.[0-9]+\.[0-9]+.*/'

# Deploy jobs for each package
deploy-util-genai:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai
    - mkdir -p dist
    - cp ../../dist/util-genai/* dist/
    - hatch --no-interactive publish -vv
  needs:
    - sign-util-genai
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-v0\.[0-9]+\.[0-9]+.*/'

deploy-util-genai-evals:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-evals
    - mkdir -p dist
    - cp ../../dist/util-genai-evals/* dist/
    - hatch --no-interactive publish -vv
  needs:
    - sign-util-genai-evals
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-evals-v0\.[0-9]+\.[0-9]+.*/'

deploy-genai-emitters-splunk:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-emitters-splunk
    - mkdir -p dist
    - cp ../../dist/genai-emitters-splunk/* dist/
    - hatch --no-interactive publish -vv
  needs:
    - sign-genai-emitters-splunk
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-emitters-splunk-v0\.[0-9]+\.[0-9]+.*/'

deploy-genai-evals-deepeval:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-evals-deepeval
    - mkdir -p dist
    - cp ../../dist/genai-evals-deepeval/* dist/
    - hatch --no-interactive publish -vv
  needs:
    - sign-genai-evals-deepeval
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-evals-deepeval-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-langchain:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-langchain
    - mkdir -p dist
    - cp ../../dist/instrumentation-langchain/* dist/
    - hatch --no-interactive publish -vv
  needs:
    - sign-instrumentation-langchain
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-langchain-v0\.[0-9]+\.[0-9]+.*/'

deploy-genai-translator-traceloop:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-traceloop-translator
    - mkdir -p dist
    - cp ../../dist/genai-translator-traceloop/* dist/
    - hatch --no-interactive publish -vv
  needs:
    - sign-genai-translator-traceloop
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-traceloop-v0\.[0-9]+\.[0-9]+.*/'
