default:
  image: 'python:3.11-slim'

include:
  - project: core-ee/signing/api-integration
    ref: develop
    file: /templates/.sign-client.yml

stages:
  - build
  - sign
  - deploy

# Build jobs for each package
build-util-genai:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai
    - hatch build
    - mkdir -p ../../dist/util-genai
    - mv dist/* ../../dist/util-genai/
    - cd ../../dist/util-genai
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/util-genai/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-v0\.[0-9]+\.[0-9]+.*/'

build-util-genai-evals:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-evals
    - hatch build
    - mkdir -p ../../dist/util-genai-evals
    - mv dist/* ../../dist/util-genai-evals/
    - cd ../../dist/util-genai-evals
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/util-genai-evals/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-evals-v0\.[0-9]+\.[0-9]+.*/'

build-genai-emitters-splunk:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-emitters-splunk
    - hatch build
    - mkdir -p ../../dist/genai-emitters-splunk
    - mv dist/* ../../dist/genai-emitters-splunk/
    - cd ../../dist/genai-emitters-splunk
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/genai-emitters-splunk/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-emitters-splunk-v0\.[0-9]+\.[0-9]+.*/'

build-genai-evals-deepeval:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-evals-deepeval
    - hatch build
    - mkdir -p ../../dist/genai-evals-deepeval
    - mv dist/* ../../dist/genai-evals-deepeval/
    - cd ../../dist/genai-evals-deepeval
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/genai-evals-deepeval/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-evals-deepeval-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-langchain:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-langchain
    - hatch build
    - mkdir -p ../../dist/instrumentation-langchain
    - mv dist/* ../../dist/instrumentation-langchain/
    - cd ../../dist/instrumentation-langchain
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-langchain/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-langchain-v0\.[0-9]+\.[0-9]+.*/'

build-genai-translator-traceloop:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-traceloop-translator
    - hatch build
    - mkdir -p ../../dist/genai-translator-traceloop
    - mv dist/* ../../dist/genai-translator-traceloop/
    - cd ../../dist/genai-translator-traceloop
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/genai-translator-traceloop/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-traceloop-v0\.[0-9]+\.[0-9]+.*/'

build-genai-translator-langsmith:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-langsmith-translator
    - hatch build
    - mkdir -p ../../dist/genai-translator-langsmith
    - mv dist/* ../../dist/genai-translator-langsmith/
    - cd ../../dist/genai-translator-langsmith
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/genai-translator-langsmith/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-langsmith-v0\.[0-9]+\.[0-9]+.*/'

build-genai-translator-openlit:
  stage: build
  script:
    - pip install hatch
    - cd util/opentelemetry-util-genai-openlit-translator
    - hatch build
    - mkdir -p ../../dist/genai-translator-openlit
    - mv dist/* ../../dist/genai-translator-openlit/
    - cd ../../dist/genai-translator-openlit
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/genai-translator-openlit/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-openlit-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-llamaindex:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-llamaindex
    - hatch build
    - mkdir -p ../../dist/instrumentation-llamaindex
    - mv dist/* ../../dist/instrumentation-llamaindex/
    - cd ../../dist/instrumentation-llamaindex
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-llamaindex/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-llamaindex-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-aidefense:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-aidefense
    - hatch build
    - mkdir -p ../../dist/instrumentation-aidefense
    - mv dist/* ../../dist/instrumentation-aidefense/
    - cd ../../dist/instrumentation-aidefense
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-aidefense/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-aidefense-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-weaviate:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-weaviate
    - hatch build
    - mkdir -p ../../dist/instrumentation-weaviate
    - mv dist/* ../../dist/instrumentation-weaviate/
    - cd ../../dist/instrumentation-weaviate
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-weaviate/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-weaviate-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-crewai:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-crewai
    - hatch build
    - mkdir -p ../../dist/instrumentation-crewai
    - mv dist/* ../../dist/instrumentation-crewai/
    - cd ../../dist/instrumentation-crewai
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-crewai/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-crewai-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-openai:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-openai-v2
    - hatch build
    - mkdir -p ../../dist/instrumentation-openai
    - mv dist/* ../../dist/instrumentation-openai/
    - cd ../../dist/instrumentation-openai
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-openai/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-openai-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-openai-agents:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-openai-agents-v2
    - hatch build
    - mkdir -p ../../dist/instrumentation-openai-agents
    - mv dist/* ../../dist/instrumentation-openai-agents/
    - cd ../../dist/instrumentation-openai-agents
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-openai-agents/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-openai-agents-v0\.[0-9]+\.[0-9]+.*/'

build-instrumentation-fastmcp:
  stage: build
  script:
    - pip install hatch
    - cd instrumentation-genai/opentelemetry-instrumentation-fastmcp
    - hatch build
    - mkdir -p ../../dist/instrumentation-fastmcp
    - mv dist/* ../../dist/instrumentation-fastmcp/
    - cd ../../dist/instrumentation-fastmcp
    - sha256sum * > checksums.txt
  artifacts:
    paths:
      - dist/instrumentation-fastmcp/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-fastmcp-v0\.[0-9]+\.[0-9]+.*/'

# Signing jobs for each package
sign-util-genai:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-util-genai
  variables:
    ARTIFACT: dist/util-genai/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/util-genai
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/util-genai/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-v0\.[0-9]+\.[0-9]+.*/'

sign-util-genai-evals:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-util-genai-evals
  variables:
    ARTIFACT: dist/util-genai-evals/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/util-genai-evals
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/util-genai-evals/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-evals-v0\.[0-9]+\.[0-9]+.*/'

sign-genai-emitters-splunk:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-genai-emitters-splunk
  variables:
    ARTIFACT: dist/genai-emitters-splunk/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/genai-emitters-splunk
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/genai-emitters-splunk/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-emitters-splunk-v0\.[0-9]+\.[0-9]+.*/'

sign-genai-evals-deepeval:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-genai-evals-deepeval
  variables:
    ARTIFACT: dist/genai-evals-deepeval/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/genai-evals-deepeval
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/genai-evals-deepeval/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-evals-deepeval-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-langchain:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-langchain
  variables:
    ARTIFACT: dist/instrumentation-langchain/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-langchain
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-langchain/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-langchain-v0\.[0-9]+\.[0-9]+.*/'

sign-genai-translator-traceloop:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-genai-translator-traceloop
  variables:
    ARTIFACT: dist/genai-translator-traceloop/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/genai-translator-traceloop
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/genai-translator-traceloop/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-traceloop-v0\.[0-9]+\.[0-9]+.*/'

sign-genai-translator-langsmith:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-genai-translator-langsmith
  variables:
    ARTIFACT: dist/genai-translator-langsmith/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/genai-translator-langsmith
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/genai-translator-langsmith/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-langsmith-v0\.[0-9]+\.[0-9]+.*/'

sign-genai-translator-openlit:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-genai-translator-openlit
  variables:
    ARTIFACT: dist/genai-translator-openlit/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/genai-translator-openlit
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/genai-translator-openlit/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-openlit-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-llamaindex:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-llamaindex
  variables:
    ARTIFACT: dist/instrumentation-llamaindex/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-llamaindex
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-llamaindex/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-llamaindex-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-aidefense:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-aidefense
  variables:
    ARTIFACT: dist/instrumentation-aidefense/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-aidefense
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-aidefense/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-aidefense-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-weaviate:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-weaviate
  variables:
    ARTIFACT: dist/instrumentation-weaviate/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-weaviate
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-weaviate/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-weaviate-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-crewai:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-crewai
  variables:
    ARTIFACT: dist/instrumentation-crewai/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-crewai
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-crewai/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-crewai-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-openai:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-openai
  variables:
    ARTIFACT: dist/instrumentation-openai/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-openai
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-openai/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-openai-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-openai-agents:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-openai-agents
  variables:
    ARTIFACT: dist/instrumentation-openai-agents/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-openai-agents
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-openai-agents/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-openai-agents-v0\.[0-9]+\.[0-9]+.*/'

sign-instrumentation-fastmcp:
  stage: sign
  extends: .submit-signing-request
  needs:
    - build-instrumentation-fastmcp
  variables:
    ARTIFACT: dist/instrumentation-fastmcp/checksums.txt
    SIGN_TYPE: GPG
    DOWNLOAD_DIR: dist/instrumentation-fastmcp
    LOGLEVEL: DEBUG
  artifacts:
    paths:
      - dist/instrumentation-fastmcp/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-fastmcp-v0\.[0-9]+\.[0-9]+.*/'

# Deploy jobs for each package
deploy-util-genai:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai
    - mkdir -p dist
    - cp ../../dist/util-genai/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-util-genai
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-v0\.[0-9]+\.[0-9]+.*/'

deploy-util-genai-evals:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-evals
    - mkdir -p dist
    - cp ../../dist/util-genai-evals/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-util-genai-evals
  rules:
    - if: '$CI_COMMIT_TAG =~ /^util-genai-evals-v0\.[0-9]+\.[0-9]+.*/'

deploy-genai-emitters-splunk:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-emitters-splunk
    - mkdir -p dist
    - cp ../../dist/genai-emitters-splunk/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-genai-emitters-splunk
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-emitters-splunk-v0\.[0-9]+\.[0-9]+.*/'

deploy-genai-evals-deepeval:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-evals-deepeval
    - mkdir -p dist
    - cp ../../dist/genai-evals-deepeval/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-genai-evals-deepeval
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-evals-deepeval-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-langchain:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-langchain
    - mkdir -p dist
    - cp ../../dist/instrumentation-langchain/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-instrumentation-langchain
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-langchain-v0\.[0-9]+\.[0-9]+.*/'

deploy-genai-translator-traceloop:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-traceloop-translator
    - mkdir -p dist
    - cp ../../dist/genai-translator-traceloop/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-genai-translator-traceloop
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-traceloop-v0\.[0-9]+\.[0-9]+.*/'

deploy-genai-translator-langsmith:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-langsmith-translator
    - mkdir -p dist
    - cp ../../dist/genai-translator-langsmith/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-genai-translator-langsmith
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-langsmith-v0\.[0-9]+\.[0-9]+.*/'

deploy-genai-translator-openlit:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd util/opentelemetry-util-genai-openlit-translator
    - mkdir -p dist
    - cp ../../dist/genai-translator-openlit/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-genai-translator-openlit
  rules:
    - if: '$CI_COMMIT_TAG =~ /^genai-translator-openlit-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-llamaindex:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-llamaindex
    - mkdir -p dist
    - cp ../../dist/instrumentation-llamaindex/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-instrumentation-llamaindex
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-llamaindex-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-aidefense:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-aidefense
    - mkdir -p dist
    - cp ../../dist/instrumentation-aidefense/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-instrumentation-aidefense
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-aidefense-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-weaviate:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-weaviate
    - mkdir -p dist
    - cp ../../dist/instrumentation-weaviate/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-instrumentation-weaviate
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-weaviate-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-crewai:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-crewai
    - mkdir -p dist
    - cp ../../dist/instrumentation-crewai/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-instrumentation-crewai
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-crewai-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-openai:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-openai-v2
    - mkdir -p dist
    - cp ../../dist/instrumentation-openai/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-instrumentation-openai
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-openai-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-openai-agents:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-openai-agents-v2
    - mkdir -p dist
    - cp ../../dist/instrumentation-openai-agents/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-instrumentation-openai-agents
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-openai-agents-v0\.[0-9]+\.[0-9]+.*/'

deploy-instrumentation-fastmcp:
  stage: deploy
  script:
    - pip install hatch keyrings.alt
    - cd instrumentation-genai/opentelemetry-instrumentation-fastmcp
    - mkdir -p dist
    - cp ../../dist/instrumentation-fastmcp/* dist/
    - hatch --no-interactive publish
  needs:
    - sign-instrumentation-fastmcp
  rules:
    - if: '$CI_COMMIT_TAG =~ /^instrumentation-fastmcp-v0\.[0-9]+\.[0-9]+.*/'
