llama-index==0.14.21
python-dotenv==1.2.2
requests==2.32.5
opentelemetry-distro==0.59b0
opentelemetry-exporter-otlp==1.38.0
-e ../../
-e ../../../../util/opentelemetry-util-genai
-e ../../../../util/opentelemetry-util-genai-evals
-e ../../../../util/opentelemetry-util-genai-evals-deepeval
-e ../../../../util/opentelemetry-util-genai-emitters-splunk
